@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f6ff;
}

@font-face {
  font-family: "Regular";
  src: local("Nunito-Regular"),
    url("./assets/fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("Nunito-Medium"),
    url("./assets/fonts/Nunito-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("Nunito-Bold"),
    url("./assets/fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBold";
  src: local("Nunito-SemiBold"),
    url("./assets/fonts/Nunito-SemiBold.ttf") format("truetype");
}
